.container {
  container-type: inline-size;
  max-width: 800px;
  margin-inline: auto;
  border: 1px solid red;
  padding: 20px;
  box-sizing: border-box;
}

@container (min-width: 500px) {
  .row {
    display: flex;
    justify-content: center;
    gap: 30px;

    .links,
    .rechts {
      background-color: orange;
      min-width: 300px;
    }
  }
}

.links,
.rechts {
  border: 1px solid green;
  padding: 10px;
  background-color: limegreen;
}
