.wrapper {
  display: grid;
  grid-template-areas:
    "header header header"
    "navigation content sidebar"
    "navigation footer footer";
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 80px 1fr 70px;
  height: 100vh;

  @media (max-width: 600px) {
    grid-template-areas:
      "header"
      "content"
      "sidebar"
      "navigation"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

header,
nav,
main,
aside,
footer {
  background: steelblue;
  padding: 20px;
  border: skyblue 1px solid;
  color: #fff;
}

header {
  grid-area: header;
}
nav {
  grid-area: navigation;
}
main {
  grid-area: content;
}
aside {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}

a {
  color: #fff;
}
