h1 {
  margin: 30rem 0;
  text-align: center;
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

p {
  animation: steff linear;
  animation-timeline: view();
}
@keyframes steff {
  from {
    /* opacity: 0; */
    color: yellow;
  }
  to {
    /* opacity: 1; */
    color: black;
  }
}
